<h1>First Angular Project</h1>
<!--<app-hellocomponent></app-hellocomponent>
<input type="text" [value]="title" /><br><br>
<input type="button" (click)="display()" value="Click"/><br><br>
<h3>{{name}}</h3><br><br>
<input type="button" (click)="update()" value="Update" /><br>
<p id="pp">{{name1}}</p> 
<input type="text" [(ngModel)]="message" /><br><br>
<p>{{message}}</p>
<p>Num Array </p>
<div *ngIf="chk">
    <ul>
        <li *ngFor="let a of numArray">{{a}}</li>
    </ul>

</div> -->
<app-custompipe></app-custompipe>
<app-hellocomponent></app-hellocomponent>

