<h1>About works!</h1>
<p>About Employee application</p>
<div>
    <h2 style="text-align: center; color:coral;">{{title}}</h2>
    <table>
        <tr><th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Address</th>
    </tr>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.fname}}</td>
            <td>{{student.lname}}</td>
            <td>{{student.age}}</td>
            <td>{{student.address}}</td>
        </tr>
    </table>
</div>