<h1>Add User</h1>
<div id="userform">
    <form #user="ngForm" (ngSubmit)="onClickSubmit(user.value)">
        <input type="text" name="name" placeholder="Enter Name" ngModel><br><br>
        <input type="number" name="age" placeholder="Enter Age" ngModel><br><br>
        <input type="text" name="address" placeholder="Enter Address" ngModel><br><br>
        <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
</div>

<div id="userlist">
    <h1>User Details</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let a of user_list">
            <td>{{a.id}}</td>
            <td>{{a.name}}</td>
            <td>{{a.age}}</td>
            <td>{{a.address}}</td>
            <td>
                <button (click)="editDetails(a)" mat-raised-button
                    color="accent">Edit</button>
                <button (click)="removeUser(a)" mat-raised-button
                    color="warn">Delete</button>
            </td>
        </tr>

    </table>
</div>